<%= error_messages_for 'plane' %>

<h1>Image for: <em><%=h @product.name %></em></h1>

<% form_for [@product, @plane], :html=>{:multipart => true} do |f| %>
  <%= render :partial => 'form', :locals=>{:f=>f} %>
  <%= f.submit "Edit image"  %>
<% end %>
<p><%= link_to 'Back', :controller=> :admin, :action => 'plane_list' %></p>