

<% if @artist.summary != '' -%>
<!-- BIO -->
<%=
r = RedCloth.new(@artist.summary)
r.to_html
%>
<% end %>

<% if @artist.pictures.count > 0 %>
<div id="img-ctnr">
<% @artist.pictures.each do |picture| %>
<div class="img-img lightbox">
<a href="<%= picture.image.url(:wide) %>"  title="<%= picture.name %>" rel="lightbox[gallery]"><%= image_tag(picture.image.url(:square)) %></a>
</div>
<% end %>
</div>
<div class="img-clear"></div>
<% end %>

<% if @artist.body != '' -%>
<!-- CV -->
<h6>CV</h6>
<%=
r = RedCloth.new(@artist.body)
r.to_html
%>
<% end %>