<!-- this should only be here if the user is logged in and confirmed -->
<!-- after they make their selections there has to be some way of submitting them to the server -->

<% if @holiday %>
<p>Today is <%= @holiday.name %>. No studio hours</p>
<% elsif @studio_hours.nil? %>
<h2>Sorry, the studio is closed today.</h2>
<% else %>
<p>Studio hours for today are <strong><%= @studio_hours.display_start_hour %> to <%= @studio_hours.display_end_hour %></strong></p>
<p><% if confirmed? %>To reserve press time click on any open hour for the press you want to use below (open hours are light gray). Click it a second time if you change your mind and want to cancel (your selections are ?what color?). <% end %></p>
<% for press in @presses %>
<!-- what reservations have already been made? --> 
<% reservations = press.reservations.find(:all, :conditions=>["date=? and cancelled = ?", @date, false]) %>
<% if reservations %>
<% reserved_hours = reservations.map{|r| r.hour} %>
<% end %>
<% this_users_reservations = [] %>
<% if confirmed? %>
<% for reservation in reservations %>
  <% this_users_reservations << reservation.hour if reservation.user == current_user %>
<% end %>
<% end %>
<div style="clear:both;" class="press-name"><%= press.name %></div>
<%= image_tag press.image.url(:thumb), :align=>"left", :class=>"press-image"  %>
<div class="hours">
<!-- what day of the week is this? what are the studio hours for that day? -->

<% (@studio_hours.start_hour...@studio_hours.end_hour).each do |hour| %>
  <div class="hour <%= reserved_hours.include?(hour) ? "reserved" : "open" %> <%= "owned" if this_users_reservations.include?(hour) %>" id="<%= press.id %>-<%= hour %>-<%= @date.strftime("%Y%m%d") %>">
    <%= HOURS.index(hour) %><br />
    <br />
    <span class="message"><%= "R" if reserved_hours.include?(hour) %></span>
  </div>
<% end %>
</div>
<br />

<% end %>
<% end %>