<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>The Arm / Admin </title>
<%= javascript_include_tag 'admin', 'jquery-1.3.2.min', "jquery-ui-1.7.2.custom.min" %>
<%= stylesheet_link_tag 'admin', 'pepper-grinder/jquery-ui-1.7.2.custom' %>
<%= yield :head %>
</head>
<body>
<a name="top"></a>
<div id="header-wrap">
<div id="header">
<h1><%= link_to("The Arm", root_url) %></h1>
</div><!-- END header -->
</div><!-- END header-wrap -->
<div id="header-clear"></div>
<% if admin? -%>
<!-- START Nav -->
<div id="nav-wrap">
<div id="nav">
<ul>
<!--
<li><%= link_to("Admin Home", :controller => "admin", :action => "index") %></li>
-->
<li><%= link_to("News", :controller => "admin", :action => "note_list") %></li>
<li><%= link_to("Shows", :controller => "admin", :action => "exhibition_list") %></li>
<li><%= link_to("Artists", :controller => "admin", :action => "artist_list") %></li>
<li><%= link_to("Goods", :controller => "admin", :action => "product_list") %></li>
<li><%= link_to("Information", :controller => "admin", :action => "static_list") %></li>
<li><%= link_to("Studio Hours", :controller =>"admin", :action => "workday_list") %></li>
<li><%= link_to("Holidays", :controller => "admin", :action => "holiday_list") %></li>
<li><%= link_to("Presses", :controller => "admin", :action => "press_list") %></li>
<li><%= link_to("Users", users_path) %></li>
<li><%= link_to("Logout", logout_path) %></li>
</ul>
</div><!-- END nav -->
</div><!-- END nav-wrap -->
<div id="nav-clear"></div>



<!-- START Subnav -->
<div id="subnav-wrap">
<div id="subnav">
<ul>


<% if @nav == 'notes' -%>
<li><%= link_to("All News", :controller => "admin", :action => "note_list") %></li>
<li><%= link_to("New News Item", new_note_path) %></li>
<% end -%>

<% if @nav == 'exhibitions' -%>
<li><%= link_to("All Shows", :controller => "admin", :action => "exhibition_list") %></li>
<li><%= link_to("New Shows", new_exhibition_path) %></li>
<li><%= link_to("Imagery", :controller => "admin", :action => "photo_list") %></li>
<% end -%>

<% if @nav == 'artists' -%>
<li><%= link_to("All Artists", :controller => "admin", :action => "artist_list") %></li>
<li><%= link_to("New Artist", new_artist_path) %></li>
<li><%= link_to("Imagery", :controller => "admin", :action => "picture_list") %></li>
<% end -%>

<% if @nav == 'products' -%>
<li><%= link_to("All Goods", :controller => "admin", :action => "product_list") %></li>
<li><%= link_to("New Good", new_product_path) %></li>
<li><%= link_to("Imagery", :controller => "admin", :action => "plane_list") %></li>
<% end -%>

<% if @nav == 'information' -%>
<li><%= link_to("Information Pages", :controller => "admin", :action => "static_list") %></li>
<li><%= link_to("New Information Page", new_static_path ) %></li>
<li><%= link_to("Imagery", :controller => "admin", :action => "icon_list") %></li>
<% end -%>

<% if @nav == 'authors' -%>
<li><%= link_to("All Users", :controller => "/login", :action => "list_authors") %></li>
<li><%= link_to("Add User", :controller => "/login", :action => "add_author") %></li>
<% end -%>

<% end -%>

<% if @nav == 'workdays' -%>
<li><%= link_to("All days", :controller => "admin", :action => "workday_list") %></li>
<li><%= link_to("New day", new_work_day_path ) %></li>

<% end -%>

<% if @nav == 'presses' -%>
<li><%= link_to("All presses", :controller => "admin", :action => "press_list") %></li>
<li><%= link_to("New press", new_press_path ) %></li>

<% end -%>
<% if @nav == 'users' -%>
<li><%= link_to("List all users", :controller=>"users", :action => "index") %></li>
<% end -%> 
</ul>
</div><!-- END subnav -->
</div><!-- END subnav-wrap -->
<div id="subnav-clear"></div>
